<ul>
    @*<li class="has-sub">
        <a class="waves-effect" href="@Url.Action("Dashboard", "Home")"><i class="md md-dashboard" style="font-size: 175%;"></i> <span> Dashboard</span></a>
    </li>*@

    <li class="has_sub">
        <a class="waves-effect" href="@Url.Action("ListRegistros", "Entry")"><i class="md md-view-list" style="font-size: 175%;"></i> <span> Records</span></a>
    </li>
</ul>